<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.neomu.neomu">

    <!-- 권한 지도 인터넷 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_new"
        android:label="너\u0026무"
        android:roundIcon="@mipmap/ic_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".index.SpalshActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".index.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".index.AuthActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".index.JoinActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".club.Club_New_Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".club.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".club.PostDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".mypage.MypageActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".map.MapyActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>